body{
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    background-color: #f5f5f5;
}

[name="header"]{
    position: relative;
    width: 100%;
    height: 500px;
    background-color: #f5f5f5;
}

#message{
    position: absolute;
    top: 0;
    left: 0;
    width: auto;
    padding: 10px;
    background-color: aquamarine;
    color: #f5f5f5;
    text-align: center;
    border-radius: 40px;
    font-size: 25px;
    height: 30px;
    align-items: center;
    display: flex;
    justify-content: center;
    display: none;
    opacity: 0;
}

#message.show {
    opacity: 1;
    display: block;
}

#logout{
    position: absolute;
    top: 0;
    right: 0;
    margin: 10px;
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    font-weight: bold;
    color: #ccc;
    width: auto;
}

h1 {
    text-align: center;
    margin: 0;
    padding: 0;
    font-size: 30px;
    font-weight: bold;
    width: 100%;
    margin-top: 20px;
    margin-bottom: 20px;
}

#logout:hover{
    color: #03c078;
    border-color: #03c078;
}

div[name='container'] {
    overflow: auto; 
    background-color: #ffff;
    width: auto;
    height: auto;
    border-radius: 20px;
    box-sizing: border-box;
    position: absolute;
    display: none;
    box-shadow: 1px 1px 10px #ccc;
    padding: 20px;
}

div[name='container'] > div {
    padding: 10px;
    border-bottom: 1px solid #ccc;
}

div[name='container'] > table {
    width: 100%;
    border-collapse:collapse; /* 表格边框合并 */
    text-align: center;
}

div[name='container'] > table th {
    border: 1px solid #bbb4bf80;
}

div[name='container'] > table td {
    border: 1px solid #bbb4bf80;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 5px;
    padding-bottom: 5px;
}

div[name='container'] > table tr:hover {
    background-color: #f5f5f5;
}

div[name='container'] > table input[type="checkbox"] {
    transform: scale(1.5);
}

div[name='container'] > .buttons {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
    border-top: 1px solid #ccc;    /* 边框 */
}

div[name='container'] > .buttons button {
    background-color: #007BFF; /* 按钮背景色 */
    color: white; /* 按钮文字颜色 */
    padding: 10px 20px; /* 按钮内边距 */
    border: none; /* 移除边框 */
    border-radius: 5px; /* 圆角边框 */
    cursor: pointer; /* 鼠标悬停时的光标形状 */
    font-size: 1em; /* 字体大小 */
    transition: background-color 0.3s ease; /* 背景颜色过渡效果 */
    margin: 5px;
}

div[name='container'] > .buttons > button:hover {
    background-color: #0056b3; /* 鼠标悬停时的背景颜色 */
}


@media screen and (max-width: 600px) {
    /* 让container自动对齐 */
    div[name='container'] {
        max-width: 90% !important;
        max-height: 100% !important;
        width: 90% !important;
        height: auto !important;
        position: relative !important;
        padding: 0;
        margin-left: 5%;
        margin-top: 20px;
        border-radius: 10px;
    }
    .buttons {
        flex-direction: column;
    }
}